.task-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background: #fafafa;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid #a78bfa;
}

.task-card span {
  
  flex: 1;
}

.task-card button {
  background-color: #7c3aed;
  color: white;
  align-items: right;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.task-card button:hover {
  background-color: #5b21b6;
}

.completed span {
  text-decoration: line-through;
  color: #999;
}